<div class="contacts-container">
  <h2>Our Team</h2>
  <div class="contact">
    <mat-card class="contact-card">
      <img class="code-image" src="../assets/code.png" alt="Team Member 1">
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\img1.jpg" alt="Team Member 1">
      <mat-card-content>
        <h3>KOLAKANI RAJU</h3>
        <p>Position: UX Designer</p>
        <p>Email: KOLAKANI RAJU@gmai.com</p>
        <p>Phone: +1 7675849423</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\naveen.jpg" alt="Team Member 1">
      <mat-card-content>
        <h3>GUNTUR GOWTHAM</h3>
        <p>Position: Software Engineer</p>
        <p>Email: GUNTUR GOWTHAM@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\john.jpg" alt="Team Member 1">
      <mat-card-content>
        <h3>ABHIRAM KUDARI</h3>
        <p>Position: Software Engineer</p>
        <p>Email: ABHIRAM KUDARI@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\1.jfif" alt="Team Member 1">
      <mat-card-content>
        <h3>VENKATA ARAVIND TUNUGUNTLA</h3>
        <p>Position: Software Engineer</p>
        <p>Email: VENKATA ARAVIND TUNUGUNTLA@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\subani.jpg" alt="Team Member 1">
      <mat-card-content>
        <h3>PENDELA CHENCHU KOUSHIK</h3>
        <p>Position: Software Engineer</p>
        <p>Email: PENDELA CHENCHU KOUSHIK@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\vamsi.jpg" alt="Team Member 1">
      <mat-card-content>
        <h3>SHAIK YALAVARTHI UAZ AHAMAD</h3>
        <p>Position: Software Engineer</p>
        <p>Email: SHAIK YALAVARTHI UAZ AHAMAD@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\venky.jpg" alt="Team Member 1">
      <mat-card-content>
        <h3>KUNCHAPU AKHIL KUMAR</h3>
        <p>Position: Software Engineer</p>
        <p>Email: KUNCHAPU AKHIL KUMAR@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\l6.jpg" alt="Team Member 1">
      <mat-card-content>
        <h3>YALLANTI LIKHITH PRASANNA KUMAR</h3>
        <p>Position: Software Engineer</p>
        <p>Email: YALLANTI LIKHITH PRASANNA KUMAR@gmail.com</p>
        <p>Phone: +91 7675859516</p>
      </mat-card-content>
    </mat-card>
    <div class="contact">
      <mat-card class="contact-card">
        <img src="\assets\abbas.jpg" alt="Team Member 1">
        <mat-card-content>
          <h3>SINGAM VENKATA SATYA VIJAYA GANESH</h3>
          <p>Position: Project</p>
          <p>Email: SINGAM VENKATA SATYA VIJAYA GANESHh@gmail.com</p>
          <p>Phone: +91 7675859516</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
