<div class="contacts-container">
  <h2>Our Team</h2>
  
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\img1.jpg" alt="Team Member 1">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\naveen.jpg" alt="Team Member 1">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\john.jpg" alt="Team Member 1">
      
  
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="assets\1.jfif" alt="Team Member 1">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\subani.jpg" alt="Team Member 1">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\vamsi.jpg" alt="Team Member 1">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\venky.jpg" alt="Team Member 1">
      
    </mat-card>
  </div>
  <div class="contact">
    <mat-card class="contact-card">
      <img src="\assets\l6.jpg" alt="Team Member 1">
      
    </mat-card>
    <div class="contact">
      <mat-card class="contact-card">
        <img src="\assets\abbas.jpg" alt="Team Member 1">
        
      </mat-card>
    </div>
  </div>
</div>
